#map {
	height: 600px;
	width: 50%;
	margin: 0 auto;
}

form{
	width: 600px;
	margin: 0 auto;
}

textarea{
	resize: vertical;
	max-height: 100px;
	min-height: 100px;
}

input, textarea {
	outline: none;
	border: 1px solid #ddd;
}

input:focus, textarea:focus {
	box-shadow: 0 0 4px rgb(255, 0, 0, 0.5);
	border: 1px solid rgb(255, 0, 0);
}
